#wrapper{
	display: flex;
	flex-flow: column nowrap;}

#topnav{
	display: flex;
	
	border-bottom:3px solid #000;
	width: 100vw;
	
	justify-content: space-around;
		
	a{	width:10%;
		text-align: center;
				text-decoration: none; color:black;
		&:hover{text-decoration:underline;}
	}

}
#lander{
	display: flex;
        flex-flow: column nowrap;
        align-items:center;
	background: url("/assets/img/castlefridge.jpg") no-repeat center center fixed;
	background: url("/assets/img/castlefridge.jpg") fixed no-repeat center center/cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;	
    padding:2%;

    h1{
        position:relative;
        top:20%;
        text-align: center;
        display: block;
        font-size: 76px;
        margin: 2% 0 2% 0;
        color: #000;
        background-color: #fff;
		padding: 4px;
		box-shadow: 8px 7px #000;
    	border: 2px solid black;
    	font-weight: 300;
        @media (max-width: 767px) {
            font-size: 30px;
        }
    }
    h2{background-color: white;
    	border:3px solid black;
    	margin: 3%;
    	padding:1%;
    	position:relative;
    	top:20%;
	}
        @media (max-width: 767px) {
            background: url("./img/castlefridge.jpg") center no-repeat cover;
            h1{font-size:2.5rem;}
        
        }
        	
}
#main{
	width:80%;
	margin:auto;
	background-color: white;
    border:3px solid black;
    margin: 3%;
    padding:1%;
    position: relative;
    top:20%;

}

#companies{
	display: flex;
	flex-flow: column nowrap;
	align-items:center;
	
	h1{text-align: center;
	background-color: white;
    border:3px solid black;
    margin: 3%;
    padding:1%;}
	
	#clist{
		display: flex;
		flex-flow:row wrap;
    	width: 80%;
    	align-content:center;
    	justify-content: center;

    	a {width: 15%; height: auto;
    		img{width: 100%;}
    		}
    }
}
footer{
	border-top:3px solid black; 
	padding:1%;
	text-align: center;
	font-size: 1.2rem;}

/*grid-column-start:2;
grid-template-columns: repeat(14, calc(100%/14));*/