html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media only screen and (max-width: 680px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
.half {
  width: 50%;
}

.gold {
  background-color: #fbb040;
}

#wrapper {
  display: flex;
  flex-flow: column nowrap;
}

#topnav {
  display: flex;
  border-bottom: 3px solid #000;
  width: 100vw;
  justify-content: space-around;
}
#topnav a {
  width: 10%;
  text-align: center;
  text-decoration: none;
  color: black;
}
#topnav a:hover {
  text-decoration: underline;
}
#topnav #cclogo {
  width: 30%;
}
@media (max-width: 767px) {
  #topnav #cclogo {
    width: 58px;
  }
}
#topnav #collapsableMenu {
  display: flex;
  width: 90%;
  align-items: center;
}
@media (min-width: 767px) {
  #topnav #collapsableMenu {
    height: 58px;
  }
}
@media (max-width: 767px) {
  #topnav #collapsableMenu {
    display: none;
    width: 100%;
    flex-flow: column;
    position: fixed;
    z-index: 1;
    top: 78px;
    background-color: #fff;
    padding-left: 3%;
    font-size: 1.4rem;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  #topnav {
    justify-content: space-between;
    padding: 1% 5%;
    width: auto;
    align-items: center;
  }
}

#lander {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: url("/assets/img/castlefridge.jpg") no-repeat center center fixed;
  background: url("/assets/img/castlefridge.jpg") fixed no-repeat center center/cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}
#lander h1 {
  position: relative;
  top: 20%;
  text-align: center;
  display: block;
  font-size: 76px;
  margin: 2% 0 2% 0;
  color: #000;
  background-color: #fff;
  padding: 4px;
  box-shadow: 8px 7px #000;
  border: 2px solid black;
  font-weight: 300;
}
@media (max-width: 767px) {
  #lander h1 {
    font-size: 30px;
  }
}
#lander h2 {
  background-color: white;
  border: 3px solid black;
  margin: 3%;
  padding: 1%;
  position: relative;
  top: 20%;
}
@media (max-width: 767px) {
  #lander h2 {
    font-size: 1.02rem;
  }
}
@media (max-width: 767px) {
  #lander {
    background: url("./img/castlefridge.jpg") center no-repeat cover;
  }
  #lander h1 {
    font-size: 2.5rem;
  }
}

#main {
  width: 80%;
  margin: auto;
  background-color: white;
  border: 3px solid black;
  margin: 3%;
  padding: 1%;
  position: relative;
  top: 20%;
}

#aboutMain {
  width: 80%;
  background-color: white;
  border: 3px solid black;
  margin: 3% auto;
  padding: 1%;
  position: relative;
  top: 20%;
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 768px) {
  #aboutMain #abouttext {
    width: auto;
  }
}
#aboutMain p {
  margin: 2%;
  padding: 1%;
}
#aboutMain #firstnight {
  width: 40vw;
  height: 54vw;
}
@media (max-width: 767px) {
  #aboutMain #firstnight {
    order: -1;
    width: 80vw;
    height: 108vw;
  }
}

#videoMain {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #videoMain {
    flex-flow: column;
  }
}
#videoMain .videobox {
  margin: 1%;
}
#videoMain .videobox h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
}
@media screen and (max-width: 768px) {
  #videoMain .videobox {
    text-align: center;
  }
  #videoMain .videobox h2 {
    font-size: 3.8vw;
  }
  #videoMain .videobox iframe {
    width: 80vw;
    height: auto;
  }
}

#moatmain {
  margin: auto;
  background-color: white;
  position: relative;
  top: 20%;
  flex-flow: row wrap;
  display: flex;
  background: url("/assets/img/mist.jpg") fixed no-repeat center center/cover;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: white;
  padding: 2% 10%;
  justify-content: space-around;
}
#moatmain #moattextbox {
  background-color: rgba(251, 176, 64, 0.8);
  padding: 2%;
}
#moatmain #moattextbox h1 {
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  #moatmain #moattextbox {
    width: auto;
  }
}
#moatmain #scoop {
  color: black;
  background-color: white;
  border: 3px solid gray;
  position: sticky;
  height: fit-content;
  padding: 2%;
}

#projects {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#projects h1 {
  text-align: center;
  background-color: white;
  border: 3px solid black;
  margin: 3%;
  padding: 1%;
}
#projects #plist {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  align-content: center;
  justify-content: center;
}
#projects #plist a {
  width: 15%;
  height: auto;
  margin: 2%;
  font-size: 10vw;
  text-align: center;
  text-decoration: none;
  color: black;
}
#projects #plist a img {
  width: 100%;
}

#companies {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#companies h1 {
  text-align: center;
  background-color: white;
  border: 3px solid black;
  margin: 3%;
  padding: 1%;
}
#companies #clist {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  align-content: center;
  justify-content: center;
}
#companies #clist a {
  width: 15%;
  height: auto;
  margin: 2%;
}
#companies #clist a img {
  width: 100%;
}

#press {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#press h1 {
  text-align: center;
  background-color: white;
  border: 3px solid black;
  margin: 3%;
  padding: 1%;
}
#press #plist {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  align-content: center;
  justify-content: center;
}
#press #plist a {
  width: 15%;
  height: auto;
  margin: 2%;
}
#press #plist a img {
  width: 100%;
}

footer {
  border-top: 3px solid black;
  padding: 1%;
  text-align: center;
  font-size: 1.2rem;
}

/*grid-column-start:2;
grid-template-columns: repeat(14, calc(100%/14));*/

/*# sourceMappingURL=castle.css.map */
